//variables
$black: #000;
$white: #fff;
$orange: #F58500;
$light-orange: #FFCC8F;
$grey: #F9FBFC;
$dark-grey: #c4c4c4;
$blue: #2F80ED;
$gradien: linear-gradient(236.77deg,$light-orange 19.79%,$orange 80.21%);
$font-size: 14px;
$font-size-mobile: 12px;
$mobile: 767px;
$tablet: 991px;
$desktop: 1440px;
$desktop-large: 2200px;
//functions
@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + floor($rand * (($max - $min) + 1));
    @return $randomNum;
}

//import basics
@import 'reset';
@import 'grid';
@import 'fonts';
//import pages and components
@import 'components/header';
@import 'components/menu';
@import 'components/footer';
//style
//tags
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

::-moz-selection {
    background: $orange;
    color: $black;
}

::selection {
    background: $orange;
    color: $black;
}

html {
    scroll-behavior: smooth;
    background: $orange;
}

body {
    margin: 0;
    background-color: $white;
    font-family: 'Poppins-Medium';
    font-size: $font-size;
    color: $black;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    overflow-y: scroll;
    @media screen and (max-width: $tablet) {
        font-size: $font-size-mobile;
        overflow-y: scroll;
    }
    &.lock-scroll {
        overflow: hidden;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Poppins-Medium';
    letter-spacing: 1px;
    font-size: 13px;
}

img {
    max-width: 100%;
    height: auto;
    &.parallax {
        width: 100%;
    }
}

body,
h3,
h4 {
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    color: $white;
    margin-bottom: 3rem;
    margin-top: .8rem;
}

h2 {
    font-family: 'Barlow-Medium';
    font-size: 38px;
    line-height: 40px;
}

.h3-bigger {
    margin-bottom: 10px;
    font-size: 27px;
    line-height: 31px;
    font-weight: 900;
}

h4 {
    font-family: 'Poppins-Light';
    font-size: 14px;
}

li,
p {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
}

p {
    font-family: 'Poppins-Light';
}

small {
    font-size: 50%;
}

strong {
    font-weight: 700;
    color: $orange;
}

marquee {
    img {
        height: $font-size;
        width: auto;
    }
}

.p-0 {
    padding: 0;
}

.p-1 {
    padding: 1rem;
}

.p-2 {
    padding: 2rem;
}

.p-3 {
    padding: 3rem;
}

.p-4 {
    padding: 4rem;
}

.p-5 {
    padding: 5rem;
}

.p-6 {
    padding: 6rem;
}

.p-7 {
    padding: 7rem;
}

.p-8 {
    padding: 8rem;
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.pb-5 {
    padding-bottom: 5rem;
}

.pb-6 {
    padding-bottom: 6rem;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pt-2 {
    padding-top: 2rem !important;
}

.pt-3 {
    padding-top: 3rem !important;
}

.pt-4 {
    padding-top: 4rem !important;
}

.pt-5 {
    padding-top: 5rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pr-3 {
    padding-right: 3rem;
}

.pr-4 {
    padding-right: 4rem;
}

.py-0 {
    padding: 0 0;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}

.py-4 {
    padding: 4rem 0 !important;
}

.py-5 {
    padding: 5rem 0;
}

.py-6 {
    padding: 6rem 0;
}

.py-7 {
    padding: 7rem 0;
}

.py-8 {
    padding: 8rem 0;
}

.px-1 {
    padding: 0 1rem;
}

.px-8 {
    padding: 0 8rem;
}

.m-0 {
    margin: 0;
}

.m-1 {
    margin: 1rem;
}

.m-2 {
    margin: 2rem;
}

.m-3 {
    margin: 3rem;
}

.m-4 {
    margin: 4rem;
}

.m-5 {
    margin: 5rem;
}

.m-6 {
    margin: 6rem;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-05 {
    margin-bottom: .5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-5 {
    margin-bottom: 5rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.mb-7 {
    margin-bottom: 7rem !important;
}

.mb-8 {
    margin-bottom: 8rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-3 {
    margin-top: 3rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-5 {
    margin-top: 5rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mt--200 {
    margin-top: -200px;
}

.my-0 {
    margin: 0 0;
}

.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 2rem 0;
}

.my-3 {
    margin: 3rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.my-5 {
    margin: 5rem 0;
}

.my-6 {
    margin: 6rem 0;
}

.my-7 {
    margin: 7rem 0;
}

.my-8 {
    margin: 8rem 0;
}

.mx-1 {
    margin: 0 1rem;
}
.mx-2 {
    margin: 0 2rem;
}
.mx-3 {
    margin: 0 3rem;
}
.mx-4 {
    margin: 0 4rem;
}
.mx-5 {
    margin: 0 5rem;
}
.mx-6 {
    margin: 0 6rem;
}
.mx-7 {
    margin: 0 7rem;
}
.mx-8 {
    margin: 0 8rem;
}
.mx-9 {
    margin: 0 9rem;
}
.mx-10 {
    margin: 0 10rem;
}
.ml-0 {
    margin-left: 0 !important;
}
.ml-05 {
    margin-left: .5rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

.ml-3 {
    margin-left: 3rem !important;
}

.ml-4 {
    margin-left: 4rem !important;
}

.ml-5 {
    margin-left: 5rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.ml-30precent {
    margin-left: 30% !important;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mr-3 {
    margin-right: 3rem !important;
}

.mr-4 {
    margin-right: 4rem !important;
}

.mr-5 {
    margin-right: 5rem !important;
}

.mr-6 {
    margin-right: 6rem !important;
}

.my-auto {
    margin: auto 0;
}

.mx-auto {
    margin: 0 auto;
}

.fs-17 {
    font-size: 17px !important;
    line-height: 25px !important;
}

.w-50 {
    max-width: 50% !important;
    width: 50%;
}

.w-60 {
    max-width: 60% !important;
    width: 60%;
}

.w-70 {
    max-width: 70% !important;
    width: 70%;
}

.w-80 {
    max-width: 80% !important;
    width: 80%;
}

.w-90 {
    max-width: 90% !important;
    width: 90%;
}

.w-100 {
    max-width: 100% !important;
    width: 100%;
}

.w-50,
.w-60,
.w-70 {
    margin: 0 auto;
}

.nomargin {
    margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
}

.nolinkdecor {
    color: inherit !important;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

//classes
.container {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: $tablet) {
        max-width: 90%;
    }
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.margin-bottom-0 {
    margin-bottom: 0;
}

.bg--white {
    background-color: $white;
    color: $grey;
}

.bg--black {
    background-color: $black;
    color: $white;
}

.bg--green {
    background-color: $grey;
    color: $white;
}

.mobile-only {
    display: none;
    @media screen and (max-width: $tablet) {
        display: block;
    }
}

.desktop-only {
    display: block;
    @media screen and (max-width: $tablet) {
        display: none;
    }
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#hero {
    background-color: $black;
    padding-top: 40px;
}

main {
    margin-top: 76px;
    #house {
        background-color: $grey;
        .text {
            .contact {
                .btn {
                    transform: skew(20deg,0deg);
                    display: inline-block;
                    border-radius: 4px;
                    padding: 10px 29px;
                    background: $orange;
                }

                .btn-text {
                    transform: skew(-20deg, 0deg);
                    color: $white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 15px;
                }
            }
        }
        .image {
            background-image: url('../img/veresegyhaz-19.jpeg');
            background-position: center;
            background-size: cover;
        }
    }
    #work {
        .image {
            background-image: url('../img/veresegyhaz-20.jpeg');
            background-position: center;
            background-size: cover;
        }
    }

    #key-ready {
        .image {
            background-image: url('../img/veresegyhaz-16.jpeg');
            background-position: center;
            background-size: cover;
        }
    }

    #general {
        .image {
            background-image: url('../img/veresegyhaz-5.jpeg');
            background-position: center;
            background-size: cover;
        }
    }

    #build {
        background-color: $grey;
        .image {
            background-image: url('../img/veresegyhaz-14.jpeg');
            background-position: center;
            background-size: cover;
        }
    }

    #build-2 {
        background-color: $grey;
    }

    #build-3 {
        background-color: $grey;
        .image {
            background-image: url('../img/veresegyhaz-17.jpeg');
            background-position: center;
            background-size: cover;
        }
    }

    #planning {
        text-align: center;
        background-color: $grey;
        p {
            width: auto;
        }
    }

    #planning-2 {
        background-color: $grey;

        .border {
            margin-bottom: 1rem;
        }

        .border:hover {
            position: relative;
            background: $gradien;
            padding: 2px;
            border-radius: 8px;
        }

        .accordion-wrapper {
            cursor: pointer;
            background-color: #fff;
            padding: 20px;
            width: calc(100% - 40px);
            border-radius: 6px;
            box-shadow: 5px 10px 10px #0b223805;
            box-sizing: content-box;

            .accordion {
                user-select: none;
                font-size: 17px;
                font-family: 'Poppins-Regular';
                &.active {
                    background: linear-gradient(236.77deg,$light-orange 19.79%,$orange 80.21%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                &.active::after {
                    content: "\2796";
                }
            }

            .accordion::after {
                content: "\02795";
                font-size: 13px;
                color: #1b1b1b;
                float: right;
                margin-left: 5px;
            }
        }

        .panel {
            max-height: 0;
            overflow: hidden;
            transition: all .2s ease-out;
            user-select: none;
        }
        
        element.style {
            max-height: 75px;
        }
        .accordion-wrapper.active .panel {
            margin-top: 1rem;
        }

            }

    #about-us {
        text-align: center;
        p {
            width: auto;
        }
    }

    #contact {
        background-color: $grey;
        .data {
            strong {
                color: $black;
                font-family: 'Poppins-Medium';
            }
        }
    }

    #forsale {
        height: auto;
        h1 {
            color: $black;
        }
    }

    #wip {
        background-color: $grey;
        img {
            border-radius: 5px;
        }

        h3 {
            font-size: 15px;
            font-family: 'Poppins-Regular';
        }
    }

    #wip-single {
        background-color: $grey;
        img {
            border-radius: 5px;
        }
    }

    section {
        scroll-margin-top: 5rem;
        p {
            width: 90%;
        }

        .image {
            border-radius: 5px;
        }
    }

    #slider {
        .swiper {
            background-color: $grey;
            
            .swiper-button-next {
                color: $orange;
            }
    
            .swiper-button-prev {
                color: $orange;
            }
    
            .swiper-pagination-bullet {
                background-color: $dark-grey;
                opacity: .6;
            }
    
            .swiper-pagination-bullet-active {
                background-color: $orange;
                opacity: 1;
            }

            .swiper-slide {
                div {
                    border-radius: 5px;
                    background-size: cover !important;
                    background-position: center !important;
                    padding-bottom: 56.25% !important;
                    background-repeat: no-repeat !important;
                }
    
                .pic-1 {
                    background-image: url('../img/veresegyhaz-1.jpeg');
                }
    
                .pic-2 {
                    background-image: url('../img/veresegyhaz-2.jpeg');
                }
    
                .pic-3 {
                    background-image: url('../img/veresegyhaz-3.jpeg');
                }
    
                .pic-4 {
                    background-image: url('../img/veresegyhaz-4.jpeg');
                }
    
                .pic-5 {
                    background-image: url('../img/veresegyhaz-5.jpeg');
                }
    
                .pic-6 {
                    background-image: url('../img/veresegyhaz-6.jpeg');
                }
                
                .pic-7 {
                    background-image: url('../img/veresegyhaz-7.jpeg');
                }
    
                .pic-8 {
                    background-image: url('../img/veresegyhaz-8.jpeg');
                }
    
                .pic-9 {
                    background-image: url('../img/veresegyhaz-9.jpeg');
                }
            }
        }
    }  
}

.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom .mfp-bg {
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
        opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
        opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out; 
    -moz-transition: all 0.3s ease-out; 
    -o-transition: all 0.3s ease-out; 
    transition: all 0.3s ease-out;
}