footer {
    padding: 3rem 0 2rem 0;
    input {
        width: 100%;
        border: 0;
        border-bottom: 2px solid $green-dark;
        background: transparent;
    }

    #contact {
        background-color: $black;
        border-radius: 84px;
        color: $white;
        padding: .4rem 2rem;
        height: 30px;
        width: 153px;
        text-align: center;
    }

    img {
        width: 20%;
    }

    a:last-of-type {
        white-space: nowrap;
    }

    .social {
        justify-self: end;
        margin-right: 3.5rem;
        grid-area: social;
        img {
            height: 60%;
            width: auto;
        }
    }
}