footer {
    background-color: $blue;
    color: $white;
    h2 {
        font-family: 'Poppins-Medium';
        font-size: 17px;
    }
    padding: 4rem 8rem 1rem 8rem;

    hr {
        opacity: .3;
    }

    span {
        font-family: 'Poppins-Light';
    }

    @media screen and (max-width: $mobile) {
        text-align: center;
    }
}