.grid--home-tiles {
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 9.5rem;
    .grid-tile {
        border-radius: 1rem;
        background: $green;
        aspect-ratio: 1;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        padding: 2rem 1rem;
        position: relative;
        h2 {
            font-size: 20px;
            line-height: 26px;
            font-weight: bold;
            color: $white;
        }
        &.big-tile {
            grid-column: 1 / span 2;
            grid-row: span 2;
            background: $orange;
        }
        &.text-dark {
            h2 {
                color: $green-dark;
            }
        }
        &.bg--image {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &.bg--color {
            &.bg--color-green {
                background-color: $green
            }
            &.bg--color-orange {
                background-color: $orange
            }
        }
        &#grid-extra {
            background: #fdf6e1;
            img {
                position: absolute;
                width: 70%;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}